<!-- не ангуляр концепция -->
<input type="text" [value]="title" (input)="onInput($event)">
<p>{{title}}</p>

<!-- ангуляр концепция/ -->
<input type="text" [(ngModel)]="title">
<p>{{title}}</p>

<div [ngStyle]="{
  width: '200px',
  height: '200px',
  borderRadius: '5px',
  border: '1px solid #ccc',
  background: backgroundToggle ? 'red' : 'blue'
}">
</div>
<button (click)="toggle = !toggle">Toggle</button>
<button (click)="toggle = 111">Set 111</button>

<p [ngClass]="{
  red: backgroundToggle,
  blue: !backgroundToggle
}">Lorem ipsum dolor sit amet consectetur</p>

<p [class.blue]="!backgroundToggle" [class.red]="backgroundToggle">Lorem ipsum dolor sit amet.</p>

<p *ngIf="toggle; else blueParagraph" class="red">Lorem ipsum dolor sit amet.</p>
<ng-template #blueParagraph>
  <p class="blue">Lorem ipsum dolor sit amet.</p>
</ng-template>

<div [ngSwitch]="toggle">
  <p *ngSwitchCase="true" class="red">Lorem, ipsum.</p>
  <p *ngSwitchCase="false" class="blue">Lorem ipsum dolor sit.</p>
  <p *ngSwitchDefault>Lorem, ipsum dolor.</p>
</div>

<ul>
  <li *ngFor="let num of arr; let idx = index">
    {{idx + 1}} <strong>{{num}}</strong>
  </li>
</ul>

<ul>
  <li *ngFor="let post of objs">
    <p>{{post.title}} <b>{{post.author}}</b></p>
    <ul>
      <li *ngFor="let comment of post.comments">
        <div>
          <small>{{comment.name}}</small>
          <p>{{comment.text}}</p>
        </div>
      </li>
    </ul>
  </li>
</ul>

<p>
  {{ now | date:'long' | uppercase }}
</p>
